@model MusicSchedule_PassionProject.Models.ViewModels.UpdateLesson

@{
    ViewBag.Title = "Edit";
}

<h2>Update Lesson</h2>

<form action="/Lesson/Update/@Model.SelectedLesson.LessonId" method="POST">
    
    <div style="display:none">
        <input type="number" name="LessonId" value="@Model.SelectedLesson.LessonId" />
    </div>
    <div>
        <label>Lesson Name: </label> <input type="text" name="LessonName" value="@Model.SelectedLesson.LessonName" />
    </div>
    <div>
        <label>Description: </label> <input type="text" name="LessonDescription" value="@Model.SelectedLesson.LessonDescription" />
    </div>
    <div>
        <label>Lesson Time : </label> <input type="datetime" name="LessonTime" value="@Model.SelectedLesson.LessonTime" />
    </div>
    <div>
        <label>Instructor: </label> <input type="text" name="LessonInstructor" value="@Model.SelectedLesson.LessonInstructor" />
    </div>
    <div>
        <label>Student ID: </label> <input type="number" name="MStudentID" value="@Model.SelectedLesson.MStudentID" />
    </div>

    <div>
        <input type="submit" value="Update Lesson" />
    </div>
</form>